.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.add-formation-button {
  text-align: center;
  font-size: 15px;
  align-self: center;
  padding-top: 2px;
  height: 40px;
  width: 40px;
}

.back {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  left: 25px;
}

.back-icon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 520px) {
  .back {
    width: 35px;
    height: 35px;
    left: 15px;
    top: 15px;
    z-index: 51;
  }
  .back-icon {
    width: 20px;
    height: 20px;
  }
}
