h2 {
  margin: 0;
}

p {
  margin-bottom: 3px;
}

textarea {
  width: 100%;
  height: 200px;
}

select {
  width: 100%;
}

.dimmed-background {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
}

.modal-container {
  z-index: 2;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  max-height: 500px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button:first-child {
  margin-right: 15px;
}

.addElementInput {
  width: 100%;
}

.addElementDescr {
  width: 100%;
  height: 100px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
