h2 {
  margin: 0;
}

p {
  margin-bottom: 3px;
}

.dimmed-background {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
}

.modal-container {
  z-index: 2;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  max-height: 500px;
  min-height: 450px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button:first-child {
  margin-right: 15px;
}

button {
  padding: 6px 10px 6px 10px;
}

.addFormationInput {
  width: 100%;
}

.addFormationDescr {
  width: 100%;
  height: 100px;
}

input {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1080px) {
  .modal-container {
    z-index: 2;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 640px) {
  .modal-container {
    z-index: 2;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 640px) {
  .modal-container {
    margin-top: 50px;
  }
}

@media screen and (max-height: 520px) {
  .modal-container {
    margin-top: 150px;
  }
}

@media screen and (max-height: 480px) {
  .modal-container {
    margin-top: 220px;
  }
}

@media screen and (max-height: 360px) {
  .modal-container {
    margin-top: 300px;
  }
}
