.element-container {
  display: flex;
  background-color: #eeeeee;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  width: 100%;
}

.categorie-etat-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.description-edit-container {
  display: flex;
  justify-content: space-between;
}

.categorie {
  margin-right: 10px;
}

p {
  word-break: break-all;
  margin: 0px;
  padding: 0px;
}

textarea {
  height: 75px;
}

.buttons-container {
  display: flex;
  padding: 15px 15px 15px 0px;
  flex-direction: column;
}

.infos {
  display: flex;
  width: 100%;
  padding: 15px;
  flex-direction: column;
  flex-wrap: wrap;
}
