.formation-info {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.add-element-button {
  max-width: 50px;
  max-height: 50px;
  padding: 7px 12px;
  border-radius: 15px;
  background-color: #bdbdbd;
  text-align: center;
  font-size: 15px;
  align-self: center;
}

.back {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  left: 25px;
}

.back-icon {
  width: 25px;
  height: 25px;
}

.label {
  margin-top: 12px;
  font-weight: 600;
}

.info {
  font-weight: normal;
  margin-right: 20px;
}

.icon {
  padding-left: 1px;
  padding-top: 2px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

.infos {
  width: 100%;
}

.back {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  left: 25px;
}

.back-icon {
  width: 25px;
  height: 25px;
}

.add-formation-button {
  text-align: center;
  font-size: 15px;
  align-self: center;
  padding-top: 2px;
  height: 40px;
  width: 40px;
}

.button-add-center {
  display: flex;
  justify-content: center;
}
