span {
  margin-top: 4px;
  margin-right: 10px;
}

div {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

.infos {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
  margin-right: 10px;
  align-items: center;
}

.identifiant {
  display: flex;
  margin-left: auto;
  font-weight: 600;
}

.role {
  display: flex;
  font-size: 0.8em;
  font-style: italic;
  margin-left: auto;
}

.header {
  background-color: #8bc34a;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 50;
  position: fixed;
}

.logo-container {
  padding: 10px;
}

.logo {
  height: 30px;
}

.login-info {
  padding: 5px;
}

.infos {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 720px) {
  .logo {
    height: 25px;
  }
  .login-info {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 640px) {
  .login-info {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 20px;
  }
  .login-info {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    display: none;
  }
}
