.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8bc34a;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > div {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.logo-home {
  width: 30%;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  width: 100%;
}

.login-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .logo-home {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .logo-home {
    width: 50%;
  }

  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .logo-home {
    width: 70%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8bc34a;
    height: auto;
    font-size: 0.8rem;
  }
}
