.text {
  margin-bottom: 15px;
  white-space: wrap;
  overflow: hidden;
  display: inline-block;
  text-align: justify;
}

.title {
  margin-top: 8px;
  margin-bottom: 10px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 15px;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }
}
