div > p {
  display: block;
  overflow: hidden;
  text-overflow: clip ellipsis;
  text-overflow: "…" "…";
  text-overflow: fade clip;
  text-overflow: fade(10px) fade(10px);
  text-overflow: fade(5%) fade(5%);
  word-wrap: break-word;
  height: 64px;
}

h2 {
  cursor: pointer;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 1080px) {
  h2 {
    font-size: 1rem;
  }

  div > p {
    display: block;
    overflow: hidden;
    text-overflow: clip ellipsis;
    text-overflow: "…" "…";
    text-overflow: fade clip;
    text-overflow: fade(10px) fade(10px);
    text-overflow: fade(5%) fade(5%);
    word-wrap: break-word;
    height: 64px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 0.9rem;
  }

  div > p {
    display: block;
    overflow: hidden;
    text-overflow: clip ellipsis;
    text-overflow: "…" "…";
    text-overflow: fade clip;
    text-overflow: fade(10px) fade(10px);
    text-overflow: fade(5%) fade(5%);
    word-wrap: break-word;
    height: 64px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
}
