h2 {
  margin: 0;
}

p {
  margin-bottom: 3px;
}

.dimmed-background {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
}

.modal-container {
  z-index: 2;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  min-height: 420px;
  max-height: 425px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button:first-child {
  margin-right: 15px;
}

button {
  padding: 6px 10px 6px 10px;
}

.addProjectInput {
  width: 100%;
}

.addProjectDescr {
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}

.tabs > div {
  display: flex;
  align-items: center;
  background-color: #dfdfdf;
  padding: 10px;
  border: 0px solid #b3b3b3;
  cursor: pointer;
  margin-bottom: 10px;
}

.selected {
  background-color: #8bc34a !important;
  color: white !important;
}

.checked-icon {
  width: 30px;
  margin-right: 15px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1080px) {
  .modal-container {
    z-index: 2;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    font-size: 0.9rem;
  }

  .checked-icon {
    width: 25px;
    margin-right: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 640px) {
  .modal-container {
    z-index: 2;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    font-size: 0.9rem;
  }

  .checked-icon {
    width: 25px;
    margin-right: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-height: 640px) {
  .modal-container {
    margin-top: 50px;
    min-height: 425px;
  }
}

@media screen and (max-height: 520px) {
  .modal-container {
    margin-top: 150px;
    min-height: 425px;
  }
}

@media screen and (max-height: 480px) {
  .modal-container {
    margin-top: 220px;
    min-height: 425px;
  }
}

@media screen and (max-height: 360px) {
  .modal-container {
    margin-top: 300px;
    min-height: 425px;
  }
}
