@import url("assets/inter-ui/inter.css");
html {
  font-family: "Inter", sans-serif;
  height: 100%;
}

$white: #ffffff;
$lightgray: #e0e0e0;
$primary: #f1f8e9;
$secondary: #424242;
$red: #f44336;
$accent: #8bc34a;

body {
  background-color: $white;
  margin: 0;
  padding: 0;
  justify-content: center;
  color: $secondary;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  height: unset;
  padding-top: 40px;
}

.content {
  width: 50%;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 940px;
  min-width: 360px;
}

.main-test {
  background-color: lightgrey;
  border: 2px solid #ededed;
  border-radius: 15px;
  max-width: 800px;
  min-width: 720px;
  overflow: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.secondary-container {
  color: #d4d4d4;
  padding: 10px 10px 0 10px;
  overflow: auto;
}

.button {
  border: 0px solid #9a9a9a;
  cursor: pointer;
  transition: background-color ease 150ms;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 5px;
}

.button:hover {
  transition: background-color ease 150ms;
  filter: brightness(1.1);
}

.small {
}

.medium {
  padding: 6px 8px 6px 8px;
  font-weight: 600;
}

.big {
  padding: 8px 12px 8px 12px;
  font-size: 1.2rem;
  font-weight: 600;
}

.rounded {
  border-radius: 50%;
}

.accent {
  background-color: $accent;
}

.secondary {
  background-color: $secondary;
}

.white {
  background-color: $white;
  color: $accent;
}

.red {
  background-color: $red;
}

.lightgray {
  backgroud-color: #dfdfdf;
  color: $secondary;
}

.float {
  position: fixed;
}

.green-button {
  background-color: #37d342;
  border: 1px solid #30b839;
}

.red-button {
  background-color: #f44336;
  border: 1px solid #be352b;
}

.icon-container {
  width: 30px;
  height: 30px;
}

.in-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  width: 15px;
}

p {
  font-size: 1em;
}

.two-grid {
  display: grid;
  grid-area: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(80px, 160px) 1fr 1fr;
}

.loading {
  cursor: wait;
}

input,
textarea {
  border: 1px solid #cacaca; /* lol */
  border-radius: 5px;
  padding: 5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.note {
  font-style: italic;
  color: #959595;
  font-size: 0.9em;
}

a {
  color: #8bc34a;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: rgb(171, 216, 253);
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 1.2rem;
  }

  .secondary-container {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 1.2rem;
  }

  .secondary-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 0.8rem;
  }

  .button {
    border: 0px solid #9a9a9a;
    cursor: pointer;
    transition: background-color ease 150ms;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 5px;
    font-size: 0.9rem;
  }

  .medium {
    padding: 4px 6px 4px 6px;
    font-weight: 600;
  }

  .big {
    padding: 6px 10px 6px 10px;
    font-weight: 600;
  }
}
