.addProjectButton {
  display: flex;
  background-color: #bdbdbd;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
  font-size: 3em;
  height: 90%;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}

app-project {
  background-color: #eeeeee;
  border: solid 1px #f9f9f9;
  border-radius: 10px;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
